<a href="https://colab.research.google.com/github/ifty54/ifty/blob/main/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas has two major parts called Data Frame and Serie.

Data Frame uses dictionary of the python to show the values/characters.

In [15]:
#dataframe
import pandas as pd
pd.DataFrame({'Manchester United': ['England',"Europe"], 'Al Nassr':['Saudi Arabia','Asia']})

  Manchester United      Al Nassr
0           England  Saudi Arabia
1            Europe          Asia

In [16]:
#you can insert index to replace the default 0,1 
pd.DataFrame({'Manchester United': ['England',"Europe"], 'Al Nassr':['Saudi Arabia','Asia']}, index=["First","Second"])

       Manchester United      Al Nassr
First            England  Saudi Arabia
Second            Europe          Asia

In [21]:
#Series
pd.Series(["ManUtd", "Chelsea", "Tottenham"])

0       ManUtd
1      Chelsea
2    Tottenham
dtype: object

In [61]:
#Reading data from a file(CSV)
import pandas as pd
df = pd.read_csv('C:Users\user\Desktop')
print(df)

SyntaxError: ignored